/* :root {
  --mainColor: #f06d06; }

section {
  background: var(--mainColor); }

h1 {
  background: var(--mainColor);
  margin: 0;
  padding: 1rem;
  color: white; }

.subtitle {
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6) var(--mainColor); }

main {
  padding: 1rem; }

* {
  margin: 0; }

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

html, body {
  height: 100%; }

main {
  flex: 1; }

footer {
  background: var(--mainColor);
  padding: 1rem; }

# sourceMappingURL=style.css.map */

.cards {
  width: 125px;
  height: 150px;
  /* width: 40px;
  height: 60px; */
  border-radius: 4px; 
  box-shadow: 1px 1px 2px grey;
  border-color: black;
  border-style: solid;
  border-width: medium;
  display: block;
  margin:5px;
}

/* #card1 {
  width: 125px;
  height: 150px;
  border-color: black;
  border-style: solid;
  border-width: medium;
  display: block;
} */

.top-number {
  margin: 5px;
}

.top-undersuit {
  margin: 5px;
  position: relative; 
  top: -23px;
  left: 10px;
} 

.suit {
  margin: 0 auto;
  position: relative; 
  left: 45%;
}

.bottom-number {
  margin: 5px; 
  bottom: -50px;
  left: 80%;
  position: relative; 
}

span {
  /* background-color: yellow; */
  /* content: attr(data-value); */
  background: radial-gradient(beige 75%, bisque)
}

/* .suits {
  margin-left: 120px;
  position: relative; 
  top: 155px;
} */

.cardSuitOne, .cardSuitTwo, .cardSuitThree, .cardSuitFour, .cardSuitFive, .cardSuitSix, .cardSuitSeven {
  margin-left: 120px;
  position: relative; 
  top: 155px; 
}

.red {
  color: red; 
}